# Criado por https://www.toptal.com/developers/gitignore/api/c
# Edite em https://www.toptal.com/developers/gitignore?templates=c

### C ###
# Pré-requisitos
* .d

# Arquivos de objeto
* .o
* .ko
* .obj
*.duende

# Saída do vinculador
* .ilk
*.mapa
* .exp

# Cabeçalhos pré-compilados
* .gch
* .pch

# Bibliotecas
* .lib
*.uma
* .la
* .lo

# Objetos compartilhados (incluindo DLLs do Windows)
* .dll
*.tão
*.tão.*
* .dylib

# Executáveis
*.Exe
*.Fora
*.aplicativo
* .i * 86
* .x86_64
* .hex

# Arquivos de depuração
* .dSYM /
* .su
* .idb
* .pdb

# Resultados da compilação do módulo Kernel
* .mod *
* .cmd
.tmp_versions /
modules.order
Module.symvers
Mkfile.old
dkms.conf

# README.txt
*.exe
*.txt
*.replit 
*.gitignore

# Fim de https://www.toptal.com/developers/gitignore/api/c